/dist
/ModelCC/bin
/ModelCCExamples/bin
/UserManual/doc.dvi
/UserManual/doc.pdf
/UserManual/doc.toc
/UserManual/doc.aux
/UserManual/doc.log
/DistScript/.svn
/ModelCC/.svn
/ModelCCExamples/.svn
/UserManual/.svn

