/dist
/ModelCC/bin
/ModelCC/junit
/ModelCC/.metadata
/ModelCCExamples/bin
/ModelCCExamples/junit
/ModelCCExamples/.metadata
/UserManual/doc.dvi
/UserManual/doc.pdf
/UserManual/doc.toc
/UserManual/doc.aux
/UserManual/doc.log
/UserManual/doc.ind
/UserManual/doc.out
/UserManual/doc.ilg
/.metadata
